html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1291px;
  margin: auto;
}

.top_sec_wrapper {
  background: linear-gradient(to right, #fff 0, #47d3dd 100%);
}

.top_sec {
  max-width: 1291px;
  margin: auto;
  padding-left: 40px;
}

.topbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  height: 50px;
  display: block;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.login {
  padding: 8px 20px;
  cursor: pointer;
  margin-right: 20px;
}

.login a {
  color: inherit;
  text-decoration: none;
}

.login:hover {
  background: white;
}

.try {
  background-color: rgb(238, 194, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.2667;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.1875rem;
  cursor: pointer;
}

.try a {
  color: inherit;
  text-decoration: none;
}

.try:hover {
  background-color: black;
  color: white;
}

.jumbo {
  display: flex;
}

.jumbo_left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
}

.jumbo_right {
  background: url('splash-hero-image.png');
  flex: 1;
  background-size: cover;
  background-position: center;
}

.jumbo_headline h1 {
  color: #003739;
  font-size: 4rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
  margin: 0;
}

.jumbo_byline p {
  opacity: 0.75;
  font-size: 1.1875rem;
  line-height: 1.42;
}

.jumbo_buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 80%;
}

.jumbo_start_trial {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  background-color: #0a5ef2;
  display: inline-block;
  margin-bottom: 1em;
  padding: 1.15em 1.75em;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  transition: background-color 0.3s ease;
  transition: all 0.3s ease;
}

.jumbo_start_trial:hover {
  background: #eec200;
  color: #000;
}

.jumbo_watch_video {
  border: 2px solid #005256;
  border-radius: 3px;
  color: #005256;
  cursor: pointer;
  display: inline-block;
  padding: 1.15em 1.75em;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.jumbo_watch_video:hover {
  background: #005256;
  color: #fff;
  text-decoration: none;
}

.jumbo_watch_video:hover svg polygon {
  fill: #fff;
}

.sec_2 {
  display: flex;
}

.rules_img {
  background: url('rules.jpg');
  flex: 0.8;
  background-size: cover;
  background-position: center;
}

.rules_copy {
  background-color: #f5f5f5;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.small_caps {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgba(0, 0, 0, 0.27);
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 1.38;
  text-transform: uppercase;
  width: 80%;
}

.section_title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

.explainer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.4;
  color: #565656;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explainer p {
  width: 80%;
}

.explainer ul {
  padding-inline-start: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
}

.explainer ul li {
  font-size: 0.875rem;
  width: 12rem;
  line-height: 1.6;
}

.sec_3 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small_caps_3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgba(0, 0, 0, 0.27);
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 1.38;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
}

.section_title_3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  width: 70%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.feature_box {
  box-shadow: 0 4px 12px 0 rgba(70, 146, 255, 0.4), 0 8px 20px 0 rgba(160, 158, 232, 0.25);
  border-radius: 3px;
  padding: 20px;
  width: 25%;
  height: 200px;
  margin: 20px;
}

.feature_benefits {
  background: #719bef;
  padding: 5px 10px;
  color: white;
  margin-bottom: 19px;
}

.feature_heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.1905;
  text-transform: uppercase;
}

.feature_body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.4;
  color: #565656;
}

.sec_4 {
  background: linear-gradient(to right, #0a5ef2 0, #47d3dd 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.sec_4_headline {
  color: white;
}

.sec_4_byline {
  color: white;
  width: 66%;
  padding-bottom: 20px;
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms {
  font-size: 0.7rem;
  text-align: center;
}

.contact {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.free_demo_form {
  background: rgb(247, 247, 246);
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.free_demo_form form {
  display: flex;
  flex-direction: column;
}

.free_demo_form ul {
  padding: 0;
}

.get_demo {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato';
  color: rgb(44, 127, 153);
}

.field_list_item {
  list-style: none;
}

.field_holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.description {
  font-size: 15px;
  line-height: 15px;
  color: #9b9b9b;
  font-family: 'Lato';
  margin-bottom: 2px;
}

.field {
  border-style: solid;
  border-width: 2px;
  border-color: #ebebeb;
  height: 25px;
  font-size: 19px;
  line-height: 19px;
  padding-left: 3px;
  padding-right: 3px;
}

.sec_5 {
  background: rgba(22, 65, 79, 0.85);
  padding: 30px;
  display: flex;
  justify-content: center;
}

.sub_btn {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  background-color: #0a5ef2;
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  transition: background-color 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 18px;
}

.sub_btn:hover {
  background: #eec200;
  color: #000;
}

.form_copy {
  color: white;
  font-size: 2.5rem;
  width: 250px;
  text-align: right;
  margin-right: 21px;
  line-height: 0.96;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.form_copy .np {
  opacity: 0.75;
  font-size: 1.1875rem;
  line-height: 1.42;
  font-family: Roboto;
  font-weight: normal;
}

@media only screen and (max-device-width: 1024px) {
  .jumbo_headline h1 {
    font-size: 3.5rem;
  }

  .rules_copy {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .explainer ul li {
    font-size: 0.8rem;
    width: 10rem;
  }

  .explainer p {
    width: 85%;
  }

  .section_title {
    width: 85%;
  }

  .small_caps {
    width: 85%;
  }

  .feature_box {
    height: 231px;
  }

  .jumbo_buttons {
    width: unset;
  }
}

@media only screen and (max-device-width: 768px) {
  .top_sec {
    padding-left: 22px;
  }

  .jumbo_headline h1 {
    font-size: 2.5rem;
  }

  .jumbo_byline p {
    margin-top: 6px;
    font-size: 1rem;
  }

  .jumbo_start_trial {
    margin-bottom: 0;
    padding: 0.7em 1em;
  }

  .jumbo_watch_video {
    padding: 0.7em 1em;
    margin-left: 13px;
  }

  .rules_img {
    flex: 0.6;
  }

  .small_caps {
    width: 90%;
  }
  .section_title {
    width: 90%;
  }

  .explainer p {
    width: 90%;
  }

  .explainer ul li {
    font-size: 0.7rem;
    width: 9rem;
  }

  .rules_copy {
    padding-top: 3px;
  }

  .section_title_3 {
    width: 90%;
  }

  .feature_box {
    width: 34%;
    height: 239px;
  }

  .terms {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 423px;
  }
}

@media only screen and (max-device-width: 414px) {
  .logo {
    height: 36px;
  }

  .try {
    font-size: 0.8rem;
    line-height: 1.1667;
    padding: 0.5rem 0.9rem;
  }

  .login {
    margin-right: 1px;
    font-size: 0.8rem;
  }

  .top_sec {
    padding-left: unset;
  }

  .jumbo {
    flex-direction: column;
  }

  .jumbo_headline h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
  }

  .jumbo_byline p {
    padding: 20px;
    margin: auto;
    font-size: 0.875rem;
    text-align: center;
  }

  .jumbo_buttons {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
  }

  .jumbo_start_trial {
    margin-bottom: 15px;
  }

  .jumbo_right {
    height: 25vh;
    order: -1;
  }

  .jumbo_left {
    padding-bottom: 30px;
  }

  .sec_2 {
    flex-direction: column;
  }

  .rules_img {
    height: 141px;
    background-position: left;
  }

  .explainer p {
    font-size: 0.875rem;
  }

  .explainer ul li {
    font-size: 0.7rem;
    width: 9rem;
  }

  .section_title {
    text-align: center;
  }

  .small_caps {
    text-align: center;
  }

  .sec_3 {
    margin-top: 0;
  }

  .feature_box {
    width: 61%;
    height: unset;
  }

  .sec_4 {
    padding: 20px;
  }

  .sec_4_headline h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .sec_4_byline {
    width: 100%;
  }

  .sec_4 .jumbo_watch_video {
    color: white;
    font-weight: normal;
    border: 2px solid white;
  }

  .sec_4 .jumbo_watch_video svg polygon {
    fill: #fff;
  }

  .footer {
    padding: 13px;
  }

  .contact {
    font-size: 0.7rem;
    text-align: center;
  }
}
